.navbar-container {
  width: 20%;
  height: 100vh;
  background-color: white;
}

.logo-container {
  border-bottom: 2px solid #e7efff;
  padding: 30px 5px;
  display: flex;
  justify-content: center;
}
.navbar-nav {
  list-style: none;
  padding: 30px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 1em;
}
.navbar-navitems {
  font-size: 1.18rem;
  display: flex;
  align-items: center;
  gap: 1em;

  padding: 5px;
  width: 100%;
  color: var(--bg-primary);
}

.navbar-navitems:hover {
  background-color: var(--bg-primary);
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
}
